<div class="useful-page-wrapper" tabindex="-1">
  <div class="feedback">
      <h2>Is this page useful?</h2>

      <a class="answer-yn" aria-expanded="false" role="button" href="#">
      Yes <span class="visually-hidden">this page is useful</span>
      </a>
      <a class="answer-yn" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="#">
      No <span class="visually-hidden">this page is not useful</span>
      </a>
      <a class="answer-additional" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="">
      Is there anything wrong with this page?
      </a>
  </div>

  <div class="thank-you" tabindex="-1" style="display: none;">Thank you for your feedback</div>
</div>