// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Patterns that are not in the NHS.UK frontend library
@import 'patterns/check-your-answers';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

// Add your extra styles here...


.body-content-page {
    background-colo: #f0f4f5
}
.nhsuk-section {
    display: block;
}
article, aside, footer, header, nav, section {
    display: block;
}
*, :after, :before {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
section {
    display: block;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #f0f4f5;
    color: #212b32;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    min-height: 100%;
}
html {
    background-color: #d8dde0;
    font-family: Frutiger W01,Helvetica,Arial,Sans-serif;
    overflow-y: scroll;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, :after, :before {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, :after, :before {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
.nhsuk-section .nhsuk-main-wrapper {
    padding-bottom: 72px;
    padding-top: 72px;
}
.nhsuk-width-container {
    margin: 0 auto;
    max-width: 960px;
}
.nhsuk-section .nhsuk-main-wrapper {
    padding-bottom: 72px;
    padding-top: 0;
}
.nhsuk-main-wrapper {
    padding-top: 20px;
    padding-bottom: 0px;
    display: block;
}
.nhsuk-main-wrapper>:first-child {
    margin-top: 0;
}
.nhsuk-promo-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 36px;
}
.nhsuk-grid-row {
    margin-left: -16px;
    margin-right: -16px;
}
.nhsuk-promo-group__item {
    display: flex;
}
.nhsuk-grid-column-one-third {
    float: left;
    width: 33.3333%;
}
.nhsuk-grid-column-one-third {
    box-sizing: border-box;
    padding: 0 16px;
}
.nhsuk-promo-group__item .nhsuk-promo {
    margin-bottom: 0;
}
.nhsuk-promo {
    margin-bottom: 36px;
    width: 100%;
}
.nhsuk-section--white .nhsuk-promo__link-wrapper {
    background-color: #f0f4f5;
}
a:visited {
    color: #330072;
}
.nhsuk-promo__link-wrapper {
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 4px 0 0 #d8dde0;
    display: block;
    height: 100%;
    position: relative;
    text-decoration: none;
}
a {
    color: #005eb8;
}
.nhsuk-promo__content {
    padding: 24px;
}

.nhsuk-promo__content>:first-child {
    margin-top: 0;
}
.nhsuk-promo__heading {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.33333;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.nhsuk-promo__content>:last-child {
    margin-bottom: 0;
}
.nhsuk-promo__description {
    color: #425563;
}
.nhsuk-body-m, p {
    color: inherit;
    margin-top: 20px;
}
.js-enabled .gem-c-feedback__js-show, .js-enabled .gem-c-feedback__form, .js-enabled .gem-c-feedback__prompt-success, .js-enabled .gem-c-feedback__js-prompt-questions, .js-enabled .gem-c-feedback__error-summary {
    display: block;
}

.gem-c-feedback__prompt {
    background-color: #005eb8;
    color: #fff;
    padding: 10px 15px 0;
    margin: 60px 0 0;
    outline: 0;
}
.gem-c-feedback__js-show, .gem-c-feedback__form, .gem-c-feedback__prompt-success, .gem-c-feedback__js-prompt-questions, .gem-c-feedback__error-summary {
    display: none;
}

html, body, div, h1, h2, h3, h4, h5, h6, article, aside, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
user agent stylesheet
div {
    display: block;
}
.gem-c-feedback__prompt-question, .gem-c-feedback__prompt-success {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    display: inline-block;
    margin: 0;
}

.gem-c-feedback__prompt-link:link, .gem-c-feedback__prompt-link:visited {
    color: #fff;
}
.gem-c-feedback__prompt-link {
    font-size: 16px;
    line-height: 1.25;
}
.gem-c-feedback__prompt-link--wrong {
    float: right;
    clear: none;
    margin-top: 0;
    margin-left: 10px;
}
.nhsuk-global-header__menusearch {
    position: relative;
}
.nhsuk-global-header__menu {
    display: none;
}
.nhsuk-global-header__search {
    margin: 20px 0;
}
.nhsuk-global-header .search-toggle, .nhsuk-global-header .search-close {
    display: none;
}
form {
    display: block;
    margin-top: 0em;
}
.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.nhsuk-global-header__search .c-search__input {
    -webkit-appearance: listbox;
    background-color: #FFFFFF !important;
    border: 1px solid #d8dde0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    display: block;
    float: left;
    font-size: 16px;
    height: 40px;
    padding: 0 15px 0 12px;
    width: 66%;
}
.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
user agent stylesheet
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}
.nhsuk-global-header__search .c-search__submit {
    background-color: #d8dde0;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    display: inline;
    font-size: inherit;
    height: 40px;
    line-height: inherit;
    outline: none;
    padding-left: 9px;
    padding-top: 7px;
    width: 44px;
}
.nhsuk-global-header__search .c-search__submit .nhsuk-icon__search {
    height: 27px;
    width: 27px;
}
button {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
    font: 400 11px system-ui;
}
.nhsuk-icon__search {
    fill: #005EB8;
}
.nhsuk-global-header__search .c-search__submit .nhsuk-icon__search {
    height: 27px;
    width: 27px;
}
ol {
    list-style-type: none;
}
.app-c-contents-list__list-item--dashed {
    margin-left: 20px;
    padding-right: 20px;
}
.app-c-contents-list__list-item {
    padding-top: 7.5px;
    line-height: 1.3;
    list-style-type: none;
}
.app-c-contents-list__list-item--dashed:before {
    content: "— ";
    margin-left: -20px;
}
.nhsuk-hero {
    background-color: #005eb8;
    color: #fff;
    position: relative;
}
.nhsuk-hero .nhsuk-hero--border {
    border-top: 1px solid rgba(255,255,255,.2);
}
.nhsuk-grid-row:after {
    clear: both;
    content: '';
    display: block;
}
.nhsuk-grid-column-two-thirds {
    float: left;
    width: 66.6666%;
}
.nhsuk-hero__wrapper {
    padding-bottom: 30px;
}
.nhsuk-hero__wrapper {
    padding-top: 36px;
}
div {
    display: block;
}