{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK prototype Kit - Content page template
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1>How do I apply for the NHS Low Income Scheme?</h1>

    </div>  

  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

            <p>To apply for help with your health costs via the NHS Low Income Scheme, you need to complete, and send in, an HC1 application form; we cannot accept a faxed or emailed version.
</p>
            <p>All parts of the HC1 must be completed, unless instructions within the form tell you otherwise.
            </p>
            <p>You may be eligible to apply online instead, however, you cannot apply over the telephone.
            </p>
            <p><b>Address</b><br><br>
            Help With Health Costs,<br>
            NHS Business Services Authority,<br>
            Bridge House,<br>
            152 Pilgrim Street,<br>
            Newcastle upon Tyne,<br>
            NE1 6SN<br>
            </p>
            
            <h2>Ireland</h2>
            
            <p>If you're currently living in Northern Ireland you need to contact your local Social Security office with regards to your HC1 application form.
            </p>
            <p>If you're a student from Northern Ireland who's living in England, Wales or Scotland, you need to apply as above.
</p>
    </div> 


    <div class="nhsuk-grid-column-one-quarter">
    
      <aside class="nhsuk-related-nav" role="complementary">
        <h2 class="nhsuk-related-nav__heading" id="subsection-title">Related content</h2>
        <nav class="nhsuk-related-nav__items" role="navigation" aria-labelledby="subsection-title">
          <ul class="nhsuk-related-nav__list">
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">PPCs</a></li>
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">Matex</a></li>
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">Medex</a></li>
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">Tax Credit exemption</a></li>
          </ul>
        </nav>
      </aside>

    </div>
    <div class="nhsuk-grid-column-one-quarter">
    
      <aside class="nhsuk-related-nav" role="complementary">
        <h2 class="nhsuk-related-nav__heading" id="subsection-title">Related actions</h2>
        <nav class="nhsuk-related-nav__items" role="navigation" aria-labelledby="subsection-title">
          <ul class="nhsuk-related-nav__list">
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">eligibility checker</a></li>
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">Am I exempt</a></li>
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">LIS apply</a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div><div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
  <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
    <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

    <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
      Maybe
</a>
    <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">Yes</a>
    <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">No</a>
    <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
      Is there anything wrong with this page?
</a>  </div>
</div>
{% endblock %}
