{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK prototype Kit - Content page template
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1>What is the Low Income Scheme?</h1>

    </div>  

  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <p>The Low Income Scheme (LIS) is set up to provide help with the following costs if you have a low income and do not already qualify for this support;</p>

      <ul><li>NHS prescriptions</li>
        <li>NHS dental treatment</li>
        <li>sight tests, glasses and contact lenses</li>
        <li>travel to get NHS treatment</li>
        <li>NHS wigs and fabric supports</li>
      </ul>
      <p>The scheme is designed so that you can apply for a certificate before you need any treatment and are able to budget accordingly. However, if you have already paid you may be able to apply for a refund at the same time.</p>
 
<P>How much help you get depends on your weekly income and outgoings, plus any savings or investments you have at the time you apply.</P>
 
<P>Your council tax and housing costs will be used in the assessment. This means that even if your income is too high for Income Support, you might still get help through the Low Income Scheme.</P>
 
<P>If you have a partner, their income will also be taken into account as part of your assessment, as will the income of any other people who live with you (excluding children or dependent young people).</P>
 
<P>If you apply and qualify we will send you a HC2 or HC3 certificate which can then be presented in place or as part payment towards your health costs. The certificate you receive will explain the costs you are entitled to and the level of contribution you are required to pay (if applicable).</p>

<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h2 class="nhsuk-fieldset__heading">
        Was this useful?
      </h2>
    </legend>
    <div class="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-1">
          Yes
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          No
        </label>
      </div>
    </div>
  </fieldset>

</div>
    </div> 


    <div class="nhsuk-grid-column-one-quarter">
    
      <aside class="nhsuk-related-nav" role="complementary">
        <h2 class="nhsuk-related-nav__heading" id="subsection-title">Related content</h2>
        <nav class="nhsuk-related-nav__items" role="navigation" aria-labelledby="subsection-title">
          <ul class="nhsuk-related-nav__list">
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">PPCs</a></li>
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">Matex</a></li>
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">Medex</a></li>
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">Tax Credit exemption</a></li>
          </ul>
        </nav>
      </aside>

    </div>
    <div class="nhsuk-grid-column-one-quarter">
    
      <aside class="nhsuk-related-nav" role="complementary">
        <h2 class="nhsuk-related-nav__heading" id="subsection-title">Related actions</h2>
        <nav class="nhsuk-related-nav__items" role="navigation" aria-labelledby="subsection-title">
          <ul class="nhsuk-related-nav__list">
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">eligibility checker</a></li>
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">Am I exempt</a></li>
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">LIS apply</a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
