{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  Contact the BSA
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
<style>
    body {
      background-color:#fff !important;
    }</style>

      

<section class="nhsuk-section nhsuk-section--white">
  <div class="nhsuk-width-container nhsuk-main-wrapper">
<h1>Contact the BSA</h1>

<div class="nhsuk-global-header__menusearch ui-front">
        <div class="nhsuk-global-header__menu"><button class="menu-toggle__button" aria-controls="c-nav-primary" aria-label="Open menu">Menu</button></div>
        <div class="nhsuk-global-header__search">
          <div class="search-toggle">
          
          </div>
          <div class="search-container" id="search-container">
            <form class="c-search" id="gs" action="/search/" method="get" role="search">
              <div class="c-search__container">
                <label class="c-search__label visually-hidden" for="q">Search the NHS website</label>
                <span class="twitter-typeahead" ><input class="c-search__input c-search__input--shadow visually-hidden" autocomplete="off" type="search" readonly="" spellcheck="false" tabindex="-1" dir="ltr" aria-hidden="true" ><input class="c-search__input tt-input" id="q" placeholder="Search" autocomplete="off" name="q" type="search" spellcheck="false" dir="auto" aria-owns="q_listbox" role="textbox" aria-readonly="true" aria-autocomplete="list" ><span role="status" aria-live="polite" ></span><pre aria-hidden="true" s></pre><div role="listbox" class="c-search-menu" id="q_listbox" aria-expanded="false"><div role="presentation" class="c-search-menu__results c-search-menu__results--suggestions"></div></div></span>
                <button type="submit" class="c-search__submit">
                  <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                    <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                    <image class="nhsuk-icon__search nhsuk-icon__search--fallback" src="/static/nhsuk_shared/img/icon-search-blue.352e1118d687.png" xlink:href="">
                  </image></svg>
                  <span class="visually-hidden">Search</span>
                </button>
              </div>
            </form>
            
          </div>
        </div>
      </div>

<p>Use this service to find out what you need to know</p>
    
    <div class="nhsuk-grid-row nhsuk-promo-group">
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        
<div class="nhsuk-promo">
  <a class="nhsuk-promo__link-wrapper" href="/templates/learn">
    <div class="nhsuk-promo__content">
      <h2 class="nhsuk-promo__heading">I need to find out</h2>
      <p class="nhsuk-promo__description">Find out some stuff</p>
    </div>
  </a>
</div>

      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        
<div class="nhsuk-promo">
  <a class="nhsuk-promo__link-wrapper" href="/templates/do">
    <div class="nhsuk-promo__content">
      <h2 class="nhsuk-promo__heading">I need to do</h2>
      <p class="nhsuk-promo__description">Do some things</p>
    </div>
  </a>
</div>

      </div>
    </div>

      </div>
</section>


    </div>

  </div>
{% endblock %}
