{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK prototype kit - Start page template
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "#",
      text: "Home"
    },
        {
      href: "#",
      text: "Section"
    }
  ],
  href: "#",
  text: "Subsection"
}) }}
{% endblock %}

{% block content %}


      

<section class="nhsuk-section nhsuk-section--white">
  <div class="nhsuk-width-container nhsuk-main-wrapper">
<h1>Contact the BSA</h1>
<p>Use this service to find out what you need to know</p>
    
    <div class="nhsuk-grid-row nhsuk-promo-group">
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        
<div class="nhsuk-promo">
  <a class="nhsuk-promo__link-wrapper" href="/templates/learn">
    <div class="nhsuk-promo__content">
      <h2 class="nhsuk-promo__heading">I need to find out</h2>
      <p class="nhsuk-promo__description">Find out some stuff</p>
    </div>
  </a>
</div>

      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        
<div class="nhsuk-promo">
  <a class="nhsuk-promo__link-wrapper" href="/templates/do">
    <div class="nhsuk-promo__content">
      <h2 class="nhsuk-promo__heading">I need to do</h2>
      <p class="nhsuk-promo__description">Do some things</p>
    </div>
  </a>
</div>

      </div>
    </div>

      </div>
</section>


    </div>

  </div>
{% endblock %}
