<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Contact the BSA
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Page title goes here -->
      <h1>
        Contact the BSA
      </h1>
      <!-- End of page title -->

      <!-- Content goes here -->
<br><br>
       <ol>
          <li><a href="/templates/start-page" >Iteration 1 MVP</a>
            </li></ol>

       <hr>

       <h2>All pages</h2>

       <br>
       <br>

       <ol>
         <li><a href="/templates/start-page">Start page</a></li>
           <li><a href="/templates/learn">I need to learn</a></li>
         <ol>           
         <li><a href="/templates/about-services">About a service</a></li>
         <li><a href="/templates/about-hwhc-articles">About HwHc services</a></li>
         <ol class="app-c-contents-list__nested-list">
            <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed"><a href="/templates/content-lis">About LIS</a></li>
            <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed"><a href="/templates/content-matex">About Matex</a></li>
        </ol>
      </ol>
         <li><a href="/templates/Do">I need to do</a></li>
         <ol>
           <li><a href="/templates/apply-services">Apply for a service</a></li>
         <li><a href="/templates/apply-hwhc-articles">Apply for HwHc</a></li>
         <ol class="app-c-contents-list__nested-list">
            <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed"><a href="/templates/content-ppc-apply">Apply for a PPC</a></li>
            <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed"><a href="/templates/content-lis-apply">Apply for LIS</a></li>
        </ol>
      </ol>
         <li><a href="/templates/search-result">Search results</a></li>
         <li><a href="/templates/search-no-result">No search results</a></li>
       </ol>
       <br>
       <br>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
