<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Prototype kit
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Page title goes here -->
      <h1>
        Contact the BSA
      </h1>
      <!-- End of page title -->

      <!-- Content goes here -->
       <p>Version 1.0</p>
       <a href="/templates/start-page" class="nhsuk-button nhsuk-u-margin-bottom-8">Start</a>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
